target "buildah-docker-push" {
    title   "Buildah Docker Push"
    version 0.1

    help {
        Push a Docker image with Buildah.
    }

    run {
        call buildah-docker-push \
            [cfg buildah-registry] \
            [cfg buildah-image] \
            [cfg buildah-tag]
    }
}
