target "hello-world" {
    title       "Hello World"
    description "Hello World target"
    version     "1.0"

    help {
        This is a big help block.
        The intent is to add some level of documentation to stuff.
    }

    run {
        # Executable Tcl code block
        call hello-world [cfg hello-world-string]
    }
}
