target "shell-exec" {
    title       "Shell Exec Demo"
    description "Demonstration of Shell Exec"
    version     "1.0"

    help {
        This is a big help block.
        The intent is to add some level of documentation to stuff.
    }

    run {
        # Executable Tcl code block
        call shell-exec echo [cfg hello-world-string]
    }
}
